<div class="container border mt-5 p-5 col-sm-5 shadow" *ngIf="false">
    <div style="display:flex;flex-direction:column; align-items:center;">
        <h1 class="text-secondary">Cart is Empty</h1>
        <button class="btn btn-info text-light" routerLink="/home">Go Shopping</button>
    </div>
</div>

<div class="container border mt-5 p-5 col-sm-8 shadow" *ngIf="true">
    <table class="table table-stripped text-center">
       <thead>
           <tr>
            <th class="bg-info text-light">PRODUCT NAME</th>
            <th class="bg-info text-light">PRODUCT DESCRIPTION</th>
            <th class="bg-info text-light">PRODUCT PRICE</th>
            <th class="bg-info text-light">PRODUCT QUANTITY</th>
            <th class="bg-info text-light">TOTAL COST</th>
           </tr>
       </thead>
        <tbody>
            <tr>
                <th>{{(items$|async)?.title}}</th>
                <th>Help</th>

            </tr>
        </tbody>
    </table>
</div>
