<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;height:4rem;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" style="font-family:cursive; font-weight:bold; color:#0d3e57; font-size:2rem;">ShopMall</a>
      <div class="d-flex" style="align-items: flex-end;margin-right: 3%;">
        <i class="bi bi-house-door" style="color:cornflowerblue; font-size:2rem; margin-right:30%;" routerLink="home"></i>
        <i style="height:4rem;">
            <span class="badge badge-info bg-info" style="margin-top:10%;height:1.5rem;border-radius:50%; width:1.5rem;text-align: center;">0</span>
            <div class="bi bi-cart" style="color:cornflowerblue; font-size:1.5rem;" routerLink="cart"></div>
        </i>
      </div>
    </div>
</nav>